<a href="https://colab.research.google.com/github/vuhpham94/nflx-adv-data-hw/blob/main/11122021/01-SkillDrill/Solved/ZillowHousingPrices_SparkSQL-VP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.1'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [73.0 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,430 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [26.8 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [666 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,439 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,812 kB]
Get:22 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [808 kB]
Get:23 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [928 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [34.4 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,220 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,867 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.9 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [699 kB]
Fetched 14.3 MB in 5s (2,897 kB/s)
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2021-11-16 13:37:19--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.15MB/s    in 0.2s

2021-11-16 13:37:20 (5.15 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Zillow Housing Prices").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/unit-7/zillow_housing_prices.csv"

In [5]:
spark.sparkContext.addFile(url)
housing_data = spark.read.option('header', 'true').csv(SparkFiles.get("zillow_housing_prices.csv"), inferSchema=True, sep=',')

In [6]:
housing_data.show(5)

+---+--------+-----------+----------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|_c0|RegionID| RegionName| StateName|SizeRank| 2008-03| 2008-04| 2008-05| 2008-06| 2008-07| 2008-08| 2008-09| 2008-10| 2008-11| 2008-12| 2009-01| 2009-02| 2009-03| 2009-04| 2009-05| 2009-06| 2009-07| 2009-08| 2009-09| 2009-10| 2009-11| 2009-12| 2010-01| 2010-02| 2010-03| 2010-04| 2010-05| 2010-06| 2010-07| 2010-08| 2010-09| 2010-10| 2010-11| 2010-12| 2011-01| 2011-02| 2011-03| 2011-04| 2011-05| 2011-06| 2011-07| 2011-08| 2011-09| 2011-10| 2011-11| 2011-12| 2012-01| 2012-02| 2012-03| 2012-04| 2012-05| 2012-06| 2012-07| 2012-08| 2012-09| 2012-10| 2012-11| 2012-12| 2013-01| 2013-02| 2013-03| 2013-04| 2013-05| 2013-06| 2013-07| 2013-08| 2013-09| 2013-10| 2013-11| 2013-12| 2014-01| 2014-02| 2014-03| 2014-04| 2014-05| 2014-06| 2014-07| 2014-08| 2014-09| 2014-10| 2014-11| 2014-12| 2015-01| 2015-02| 2015-03| 2015-04| 2015-05| 2015-06| 2015-07| 2015-08| 2015-09| 2015-10| 2015-11| 2015-12| 2016-01| 2016-02| 2016-03| 2016-04| 2016-05| 2016-06| 2016-07| 2016-08| 2016-09| 2016-10| 2016-11| 2016-12| 2017-01| 2017-02| 2017-03| 2017-04| 2017-05| 2017-06| 2017-07| 2017-08| 2017-09| 2017-10| 2017-11| 2017-12| 2018-01| 2018-02|2018-03|2018-04|2018-05|2018-06|2018-07|2018-08|2018-09|2018-10|2018-11|2018-12|2019-01|2019-02|2019-03| 2019-04| 2019-05| 2019-06| 2019-07| 2019-08| 2019-09| 2019-10| 2019-11| 2019-12| 2020-01| 2020-02| 2020-03|
+---+--------+-----------+----------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|  0|    6181|   New York|  New York|       1|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|    null|457300.0|462700.0|466200.0|465600.0|469500.0|471300.0|468600.0|469500.0|470800.0|476700.0|471700.0|457000.0|447600.0|442700.0|447800.0|450900.0|459200.0|470800.0|477600.0|484300.0|482400.0|487100.0|492200.0|503200.0|498800.0|492800.0|475700.0|477100.0|480400.0|483400.0|481800.0|474600.0|483000.0|489100.0|499000.0|485700.0|481700.0|474000.0|485900.0|483900.0|481000.0|481500.0|491800.0|500500.0|500700.0|496100.0|489500.0|492300.0|493700.0|503200.0|506600.0|507300.0|508700.0|509700.0|517300.0|519300.0|522600.0|524500.0|528600.0|533300.0|538400.0|527200.0|547200.0|549900.0|560200.0|538800.0|536200.0|532900.0|528900.0|522900.0|530400.0|533600.0|536100.0|533000.0|531400.0|534000.0|534600.0|543300.0|544200.0|556500.0|552500.0|552400.0|540900.0|543100.0|544800.0|555000.0|553200.0| 559400| 555700| 556300| 547000| 544300| 548100| 558700| 560700| 563100| 564200| 557700| 561100| 560100|571000.0|559800.0|563200.0|570500.0|572800.0|569900.0|560800.0|571500.0|575100.0|571700.0|568300.0|573600.0|
|  1|   12447|Los Angeles|California|       2|507600.0|489600.0|463000.0|453100.0|438100.0|423200.0|407800.0|396300.0|384400.0|370500.0|356100.0|347600.0|342600.0|333900.0|325600.0|327400.0|332700.0|338700.0|342500.0|345300.0|348600.0|352300.0|359600.0|363900.0|360600.0|354100.0|351800.0|350900.0|352100.0|348300.0|350700.0|348500.0|350800.0|353400.0|350300.0|353000.0|344300.0|347400.0|342900.0|343500.0|340700.0|338600.0|336500.0|329600.0|326900.0|325300.0|326600.0|328200.0|328900.0|333300.0|331800.0|336100.0|342300.0|351200.0|361000.0|364000.0|373400.0|388900.0|398100.0|411100.0|413200.0|428000.0|436200.0|449400.0|461600.0|465600.0|469600.0|469800.0|465900.0|457600.0|446200.0|448900.0|448400.0|454800.0|456200.0|457800.0|461000.0|462500.0|466400.0|469700.0|469600.0|473800.0|474100.0|482000.0|485700.0|491700.0|489000.0|490100.0|493300.0|502700.0|503600.0|499000.0|497200.0|509100.0|518900.0|524700.0|520700.0|525900.0|530000.0|531700.0|531100.0|532100.0|537800.0|536100.0|540400.0|537900.0|548700.0|548100.0|554400.0|550900.0|556100.0|561500.0|567400.0|567900.0|572700.0|581600.0|600100.0|608300.0|611000.0|616800.0| 624000| 631300| 629100| 635300| 633600| 638900| 642700| 660300| 671400| 673400| 680800| 684300| 699200|702700.0|703800.0|706800.0|711800.0|717300.0|714100.0|711900.0|718400.0|727100.0|738200.0|760200.0|    null|
|  2|   39051|    Houston|     Texas|       3|138400.0|135500.0|132200.0|131000.0|133400.0|135400.0|138000.0|136400.0|133200.0|126300.0|125500.0|124100.0|127200.0|126800.0|128400.0|132500.0|137600.0|140700.0|142500.0|141400.0|140000.0|136000.0|135000.0|134900.0|136200.0|136400.0|135700.0|135000.0|131100.0|130900.0|129300.0|133400.0|136000.0|141900.0|139700.0|138100.0|133200.0|131100.0|129900.0|132100.0|133800.0|133900.0|132400.0|135200.0|137100.0|139300.0|134900.0|131300.0|131400.0|137400.0|143500.0|146100.0|145600.0|143700.0|140200.0|138300.0|141800.0|145200.0|148800.0|147600.0|147700.0|152100.0|155400.0|160100.0|161900.0|163500.0|164800.0|163800.0|165200.0|166500.0|165700.0|167800.0|167700.0|170500.0|169900.0|169000.0|169100.0|169400.0|168200.0|170400.0|168500.0|169100.0|169000.0|168400.0|170500.0|168100.0|169700.0|169700.0|172000.0|174500.0|174000.0|172500.0|170800.0|172600.0|177800.0|179000.0|177100.0|175200.0|177700.0|179500.0|181600.0|180500.0|183700.0|184700.0|187400.0|187700.0|187800.0|190200.0|192200.0|192900.0|190400.0|191600.0|189600.0|190500.0|189300.0|192000.0|193500.0|193200.0|192700.0|195200.0| 196300| 197800| 195500| 194300| 195000| 195300| 198100| 199900| 203200| 204000| 206600| 205100| 206800|206200.0|210100.0|209700.0|207400.0|207600.0|207000.0|211400.0|211500.0|217700.0|219200.0|223800.0|    null|
|  3|   17426|    Chicago|  Illinois|       4|325100.0|314800.0|286900.0|274600.0|268500.0|264400.0|267100.0|268400.0|259700.0|253400.0|242500.0|248100.0|244800.0|237900.0|223400.0|214600.0|216600.0|219900.0|222300.0|221900.0|225800.0|224100.0|229600.0|222400.0|218900.0|211900.0|214600.0|217800.0|206800.0|194500.0|180100.0|185400.0|190000.0|190400.0|188500.0|189400.0|186300.0|177700.0|167900.0|174700.0|182900.0|189300.0|190000.0|189800.0|180500.0|175000.0|169200.0|173400.0|171400.0|174000.0|175500.0|183800.0|188700.0|191600.0|194300.0|188300.0|187900.0|180700.0|184900.0|185400.0|188700.0|191400.0|198900.0|213600.0|223800.0|230700.0|228100.0|232600.0|230500.0|227600.0|223800.0|229800.0|231900.0|232700.0|232000.0|239900.0|239300.0|242300.0|246600.0|251200.0|250900.0|247000.0|248800.0|248900.0|250300.0|252800.0|251300.0|247200.0|238200.0|230600.0|227000.0|222200.0|212400.0|210400.0|208400.0|214800.0|211000.0|212200.0|214300.0|215800.0|219300.0|219000.0|221500.0|223900.0|231000.0|240300.0|245700.0|241800.0|236900.0|229500.0|225200.0|219800.0|216800.0|219500.0|217600.0|220900.0|221900.0|227300.0|230400.0|238500.0| 247400| 250000| 244600| 242100| 248600| 254400| 256800| 253600| 256600| 237600| 245700| 263200| 290800|292000.0|276000.0|271500.0|266500.0|264900.0|265000.0|264100.0|264300.0|270000.0|281400.0|302900.0|309200.0|
|  4|    6915|San Antonio|     Texas|       5|130900.0|131300.0|131200.0|131500.0|131600.0|132300.0|131600.0|131800.0|130100.0|127600.0|126900.0|126700.0|129700.0|131500.0|133900.0|134500.0|135400.0|135100.0|135700.0|134500.0|133500.0|131100.0|130000.0|130500.0|130000.0|129900.0|128700.0|128600.0|128600.0|130700.0|132500.0|134800.0|136100.0|136300.0|135800.0|131600.0|130700.0|129000.0|130900.0|130700.0|130700.0|130600.0|132000.0|133000.0|132400.0|132200.0|130300.0|130900.0|131300.0|133800.0|136400.0|137700.0|138700.0|137400.0|137600.0|137700.0|138300.0|138200.0|136000.0|137400.0|139600.0|143000.0|144500.0|146200.0|147900.0|149500.0|148400.0|148800.0|148700.0|148900.0|149900.0|150700.0|152600.0|153700.0|154300.0|154400.0|154500.0|153900.0|155100.0|155600.0|157100.0|158300.0|160100.0|161600.0|162700.0|163400.0|163900.0|165200.0|165500.0|166800.0|168000.0|168300.0|166800.0|166200.0|167100.0|167300.0|169100.0|169500.0|171100.0|170300.0|172200.0|173200.0|174400.0|174300.0|174800.0|174800.0|174400.0|176100.0|175500.0|175700.0|175000.0|177600.0|176200.0|177300.0|177200.0|181300.0|182100.0|184900.0|185600.0|185700.0| 185400| 186000| 187300| 186800| 186100| 186300| 187800| 192400| 194100| 194200| 190400| 189600| 191200|193300.0|196000.0|197100.0|198700.0|200200.0|200800.0|203400.0|203800.0|205400.0|205400.0|208300.0|    null|
+---+--------+-----------+----------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
only showing top 5 rows

In [7]:
#Create a temp view of your dataframe
housing_data.createOrReplaceTempView('housing')

In [8]:
# Cast 2020-01 column as float and display the average price per state using Spark SQL
spark.sql("""
select StateName, avg(cast(`2020-01` as float)) as avg_2020_01
from housing
group by StateName
""").show(10)

+------------+------------------+
|   StateName|       avg_2020_01|
+------------+------------------+
|        Utah|          345200.0|
|      Hawaii|         572868.75|
|   Minnesota|256823.59550561797|
|        Ohio| 179073.9393939394|
|      Oregon| 342466.6666666667|
|    Arkansas|162611.42857142858|
|       Texas|266331.35135135136|
|North Dakota|230916.66666666666|
|Pennsylvania|246516.66666666666|
| Connecticut|291745.28301886795|
+------------+------------------+
only showing top 10 rows

In [9]:
# Repeat the same cast and average price for the month of February or 2020-02 using SparkSQL
spark.sql("""
select StateName, avg(cast(`2020-02` as float)) as avg_2020_02
from housing
group by StateName
""").show(10)

+------------+------------------+
|   StateName|       avg_2020_02|
+------------+------------------+
|        Utah|  347562.962962963|
|      Hawaii|          592525.0|
|   Minnesota|261769.76744186046|
|        Ohio|182818.30065359478|
|      Oregon|348658.82352941175|
|    Arkansas|165128.57142857142|
|       Texas| 269829.6703296703|
|North Dakota|          232660.0|
|Pennsylvania| 250119.6261682243|
| Connecticut| 297518.8679245283|
+------------+------------------+
only showing top 10 rows

In [10]:
# Repeat the same cast and average price per state for the month of February, but filter out any states with greater than $200000 average price
out_df = spark.sql("""
select StateName, avg(cast(`2020-02` as float)) as avg_2020_02
from housing
group by StateName
having avg_2020_02 > 200000
""")
out_df.show(10)

+------------+------------------+
|   StateName|       avg_2020_02|
+------------+------------------+
|        Utah|  347562.962962963|
|      Hawaii|          592525.0|
|   Minnesota|261769.76744186046|
|      Oregon|348658.82352941175|
|       Texas| 269829.6703296703|
|North Dakota|          232660.0|
|Pennsylvania| 250119.6261682243|
| Connecticut| 297518.8679245283|
|      Nevada|          327770.0|
|  Washington| 439433.3333333333|
+------------+------------------+
only showing top 10 rows

In [11]:
# Convert your SparkSQL dataframe into a Pandas dataframe and save your Pandas dataframe into a CSV file
out_df.toPandas().to_csv('avg_housing_prize_022020_bystate_greater_200k.csv')